<!doctype html>

<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->

<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->

<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ page.seoLang }}">
<!--<![endif]-->
	<head>

		{% include "head.twig" %}

		{% include basekit.headScript %}
	
	</head>

	<body class="{{ page.backgroundClass }}">

		{% block content %}
		{% endblock %}

		{% include "footer.twig" %}

		{% include basekit.bodyScript %}
		
		<script type="text/javascript">
			!function() {
				function supportsSVG() {
					return !!document.createElementNS && !! document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect
				}
				if (supportsSVG()) document.documentElement.className += ' svg'
			}()
		</script>

	</body>
</html>