{% extends "layout.twig" %}

{% block content %}

	<div class="bk-pt-default">
	
		{% include "header.twig" %}
	
		<div class="canvas menu-page">
			<div class="main wrapper clearfix">
				{{widget('menusections', 'menusections1', {})|raw}}
				{{widget('menu', 'menu1', {})|raw}}
			</div>
		</div>
	
	</div>

{% endblock %}